In [32]:
import pandas as pd
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [33]:
data = pd.read_csv("housing.csv")

In [34]:
df_data = data.select_dtypes(include=[np.float,np.int])

In [35]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   LotFrontage    1201 non-null   float64
 3   LotArea        1460 non-null   int64
 4   OverallQual    1460 non-null   int64
 5   OverallCond    1460 non-null   int64
 6   YearBuilt      1460 non-null   int64
 7   YearRemodAdd   1460 non-null   int64
 8   MasVnrArea     1452 non-null   float64
 9   BsmtFinSF1     1460 non-null   int64
 10  BsmtFinSF2     1460 non-null   int64
 11  BsmtUnfSF      1460 non-null   int64
 12  TotalBsmtSF    1460 non-null   int64
 13  1stFlrSF       1460 non-null   int64
 14  2ndFlrSF       1460 non-null   int64
 15  LowQualFinSF   1460 non-null   int64
 16  GrLivArea      1460 non-null   int64
 17  BsmtFullBath   1460 non-null   int64
 18  BsmtHalfBath   1460 non-null   int64
 19  FullBath       1460 non-null   int64
 20  HalfBath       1460 non-null   int64
 21  BedroomAbvGr   1460 non-null   int64
 22  KitchenAbvGr   1460 non-null   int64
 23  TotRmsAbvGrd   1460 non-null   int64
 24  Fireplaces     1460 non-null   int64
 25  GarageYrBlt    1379 non-null   float64
 26  GarageCars     1460 non-null   int64
 27  GarageArea     1460 non-null   int64
 28  WoodDeckSF     1460 non-null   int64
 29  OpenPorchSF    1460 non-null   int64
 30  EnclosedPorch  1460 non-null   int64
 31  3SsnPorch      1460 non-null   int64
 32  ScreenPorch    1460 non-null   int64
 33  PoolArea       1460 non-null   int64
 34  MiscVal        1460 non-null   int64
 35  MoSold         1460 non-null   int64
 36  YrSold         1460 non-null   int64
 37  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35)
memory usage: 433.6 KB

In [36]:
data = df_data.drop(['LotFrontage','MasVnrArea','GarageYrBlt','Id'],axis = 1)

In [37]:
data.isnull().sum()

MSSubClass       0
LotArea          0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
BsmtFinSF1       0
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BsmtFullBath     0
BsmtHalfBath     0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
TotRmsAbvGrd     0
Fireplaces       0
GarageCars       0
GarageArea       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
SalePrice        0
dtype: int64

In [38]:
data

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,60,8450,7,5,2003,2003,706,0,150,856,...,0,61,0,0,0,0,0,2,2008,208500
1,20,9600,6,8,1976,1976,978,0,284,1262,...,298,0,0,0,0,0,0,5,2007,181500
2,60,11250,7,5,2001,2002,486,0,434,920,...,0,42,0,0,0,0,0,9,2008,223500
3,70,9550,7,5,1915,1970,216,0,540,756,...,0,35,272,0,0,0,0,2,2006,140000
4,60,14260,8,5,2000,2000,655,0,490,1145,...,192,84,0,0,0,0,0,12,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,7917,6,5,1999,2000,0,0,953,953,...,0,40,0,0,0,0,0,8,2007,175000
1456,20,13175,6,6,1978,1988,790,163,589,1542,...,349,0,0,0,0,0,0,2,2010,210000
1457,70,9042,7,9,1941,2006,275,0,877,1152,...,0,60,0,0,0,0,2500,5,2010,266500
1458,20,9717,5,6,1950,1996,49,1029,0,1078,...,366,0,112,0,0,0,0,4,2010,142125
1459,20,9937,5,6,1965,1965,830,290,136,1256,...,736,68,0,0,0,0,0,6,2008,147500

In [39]:
dataarray = data.values

In [40]:
X = dataarray[:,0:33]
Y = dataarray[:,-1]

In [41]:
Y

array([208500, 181500, 223500, ..., 266500, 142125, 147500], dtype=int64)

In [42]:
model = Sequential()
model.add(Dense(13, input_shape=(33,), kernel_initializer='normal', activation='relu'))
model.add(Dense(1, kernel_initializer='normal'))
model.compile(loss='mean_absolute_error', optimizer='adam')
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 13)                442
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 14
=================================================================
Total params: 456
Trainable params: 456
Non-trainable params: 0
_________________________________________________________________

In [43]:
model.fit(X, Y, epochs=20, batch_size=32, validation_split = 0.2)

Epoch 1/20
37/37 [==============================] - 0s 4ms/step - loss: 180578.5781 - val_loss: 182091.3906
Epoch 2/20
37/37 [==============================] - 0s 2ms/step - loss: 180225.0938 - val_loss: 181566.4844
Epoch 3/20
37/37 [==============================] - 0s 2ms/step - loss: 179483.2344 - val_loss: 180568.2188
Epoch 4/20
37/37 [==============================] - 0s 2ms/step - loss: 178255.4375 - val_loss: 179058.5938
Epoch 5/20
37/37 [==============================] - 0s 2ms/step - loss: 176513.7500 - val_loss: 177040.7344
Epoch 6/20
37/37 [==============================] - 0s 2ms/step - loss: 174256.0469 - val_loss: 174509.6875
Epoch 7/20
37/37 [==============================] - 0s 2ms/step - loss: 171499.5156 - val_loss: 171464.1562
Epoch 8/20
37/37 [==============================] - 0s 2ms/step - loss: 168255.0156 - val_loss: 167925.3125
Epoch 9/20
37/37 [==============================] - 0s 2ms/step - loss: 164502.4062 - val_loss: 163923.7656
Epoch 10/20
37/37 [==============================] - 0s 2ms/step - loss: 160284.9219 - val_loss: 159398.8750
Epoch 11/20
37/37 [==============================] - 0s 2ms/step - loss: 155577.1406 - val_loss: 154416.7344
Epoch 12/20
37/37 [==============================] - 0s 2ms/step - loss: 150446.1875 - val_loss: 149021.7031
Epoch 13/20
37/37 [==============================] - 0s 2ms/step - loss: 144959.4375 - val_loss: 143212.3125
Epoch 14/20
37/37 [==============================] - 0s 2ms/step - loss: 139241.6094 - val_loss: 137215.9531
Epoch 15/20
37/37 [==============================] - 0s 2ms/step - loss: 133241.0156 - val_loss: 130805.8359
Epoch 16/20
37/37 [==============================] - 0s 2ms/step - loss: 126892.2734 - val_loss: 124215.8203
Epoch 17/20
37/37 [==============================] - 0s 2ms/step - loss: 120232.1406 - val_loss: 117245.7266
Epoch 18/20
37/37 [==============================] - 0s 2ms/step - loss: 113244.8984 - val_loss: 110101.7500
Epoch 19/20
37/37 [==============================] - 0s 2ms/step - loss: 106063.3594 - val_loss: 102625.3047
Epoch 20/20
37/37 [==============================] - 0s 2ms/step - loss: 98799.8828 - val_loss: 95366.8906

In [44]:
predictions = model.predict(X)

In [45]:
predictions

array([[81293.17 ],
       [85802.09 ],
       [93663.086],
       ...,
       [93629.66 ],
       [82443.47 ],
       [88041.5  ]], dtype=float32)